.wrapper .section_1 {
	max-width: 960px;
	margin: auto;
	padding-top: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.wrapper .section_1 .inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.wrapper .section_1 .left {
	width: 30%;
	margin-right: 0;
	margin-bottom: 20px;
}

.wrapper .section_1 .left .photo {
	width: 100%;
	background-image: url(../images/photo.jpeg);
	background-size: cover;
	background-position: 40%;
	border-radius: 3px;
}

.wrapper .section_1 .right {
	width: 100%;
}

.wrapper .section_1 .right .name {
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	color: #7a42f8;
	margin-bottom: 5px;
}

.wrapper .section_1 .right .director {
	text-align: center;
	margin-bottom: 20px;
	opacity: .7;
}

.wrapper .section_1 .right .text {
	font-size: 16px;
	color: #404040;
	line-height: 1.6em;
	padding: 0 15px;
}
