.wrapper .menu .inner {
	color: #fff;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	z-index: 999;
	transition: .4s
}

.wrapper .menu .hidden {
	top: -100vh
}


/* menu content */
.wrapper .menu ul {
	padding: 5px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	justify-content: flex-end;
}

.wrapper .menu ul li {
	padding: 3px 5px;
	position: relative;
	cursor: pointer;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 20px;
}

.wrapper .menu ul li:last-child {
	margin-right: 5px;
}

.wrapper .menu ul li:after {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	top: 100%;
	left: -10%;
	background: #fff;
	transition: .2s
}

.wrapper .menu ul li:hover:after {
	width: 120%;
}

/* toggling the menu */

.wrapper .menu .hamburger {
	top: 20px;
	left: 20px;
	position: fixed;
	z-index: 999999;
	display: none;
	cursor: pointer;
}

.wrapper .menu input[type="checkbox"] {
	display: none
}

.wrapper .menu input[type="checkbox"]:checked ~ .inner {
	top: 0;
}

.wrapper .menu input[type="checkbox"]:checked + .hamburger .top {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


.wrapper .menu input[type="checkbox"]:checked + .hamburger .mid {
	opacity: 0;
}

.wrapper .menu input[type="checkbox"]:checked + .hamburger .bottom {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* hamber shade circle */
.wrapper .menu .hamburger:before {
	content: '';
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.5);
	top: -106px;
	left: -110px;
	z-index: -1;
}


/* hamber lines */
.wrapper .menu .hamburger div {
	height: 2px;
	width: 22px;
	background: #fff;
	margin-top: 6px;
	-webkit-transform-origin: left;
	transform-origin: left;
	transition: .2s
}
